<!DOCTYPE html>
<html>

<head>
  <title> CALVIN </title>
  <link rel="stylesheet" href="bootstrap.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://www.desmos.com/api/v1.1/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>

  <script src="script.js"></script>
</head>

<body style="background-color: lightgray">
  <div class="container">
    <!-- Begin Calvin Header -->
    <div class="row">
      <div class="col-lg-3">
        <img id="image" alt="calvin" src='calvinlogo.png'>
      </div>
      <div class="col-lg-4">
      </div>
      <div class="col-lg-5">
        <img id="bull" alt="bulldog" src="bulldog.png">
      </div>
    </div>
    <!-- End Calvin Header -->

    <div class="row force-height">

      <!-- Begin Video Elements -->
      <div class="col-lg-3">
        <div class="row" id="fill">
          <div class="photo">
            <video id="videos" autoplay></video>
          </div>
          <div class="photo">
            <canvas id="canvas" width=277 height=204></canvas>
            <img id="bulldog" src="venteraLogo.jpg"></img>
          </div>
        </div>
      </div>
      <!-- End Video Elements -->
      <div class="col-lg-9">
        <!-- Respond to Prompts Form -->
        <div id="response-box">
          <div id="scrollList" style="width:100%;height:390px;overflow-y: auto; flex-grow: 1">
            <li id="thingToAppend" </li>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div id="buttons">
          <button id="snap" class="btn btn-primary">Snap Photo</button>
          <button id="send" class="btn btn-success">Send Photo</button>
        </div>
      </div>
      <div class="col-lg-7">
        <input id="response" autocomplete="off" name="text" type="text" class="form-control" placeholder="Talk to Calvin">
      </div>
      <div class="col-lg-2">
        <button id="conversation" type="submit" class="btn btn-success">Submit</button>
      </div>
    </div>
  </div>
  </div>
  </div>
  <!-- Trigger/Open The Modal -->
<button id="myBtn">Help</button>

<!-- The Modal -->
<div id="helpModal" class="helpModal">

  <!-- Modal content -->
  <div class="helpModal-content">
    <span class="close">&times;</span>
    <h2>Calvin Commands:</h2>
    <ul>
      <li>Sign Up</li>
      <li>Calvin Age</li>
      <li>Check Weather</li>
      <li>Emotion Detection</li>
      <li>Time to Destination</li>
      <li>ISS Location</li>
      <li>Joke</li>
      <li>Origin</li>
      <li>Quote Of the Day</li>
      <li>Random Number Fact</li>
      <li>Recipe</li>
      <li>Ron Swanson Quote</li>
      <li>Wiki Search</li>
      <li>Send Email</li>
      <li>Send Slack Message</li>
      <li>News</li>
      <li>Ventera Info</li>
    </ul>
  </div>

</div>
  <audio id="audio"> </audio>
</body>

</html>
