<!DOCTYPE html>
<html>

<head>
  <title> Calvin Test </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <div class="container">
    <!-- Begin Calvin Header -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center"> Calvin Test </h1>
      </div>
    </div>
    <!-- End Calvin Header -->


    <div class="row">

      <!-- Begin Video Elements -->
      <div class="col-lg-5">
        <div class="row">
          <div class="well">
            <video id="videos" width="400" height="300" autoplay></video>
          </div>
          <div class="well">
            <canvas id="canvas" width="400" height="300"></canvas>
          </div>
        </div>
        <div class="row">
          <button id="snap" class="btn btn-primary">Snap Photo</button>
          <button id="send" class="btn btn-success">Send Photo</button>
        </div>
      </div>
      <!-- End Video Elements -->

      <div class="col-lg-2"></div>

      <div class="col-lg-5">
        <div class="row">
          <!-- Choose File to be Uploaded Form -->
          <div class="well">
            <h4> Choose a File </h4>
            <div class="form-group">
              <label class="btn btn-block btn-primary">
            Browse<input type="file" id="file" style="display: none;" onchange="$('#upload-file-info').val($(this).val());">
          </label>
              <input type="text" class="form-control" readonly>
            </div>
            <button type="submit" id="uploadfile" class="btn btn-success">Submit</button>
          </div>
          <!-- End Choose fieldsetle -->

          <!-- Respond to Prompts Form -->
          <div class="well">
            <h4>  Response </h4>
            <div class="input-group">
              <span class="input-group-addon "> Text </span>
              <input id="response" autocomplete="off" name="text" type="text" class="form-control" placeholder="input response after being prompted">
            </div>
            <br>
            <button id="conversation" type="submit" class="btn btn-success">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>

    // Request access to the camera!
    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
      navigator.mediaDevices.getUserMedia({
          video: true
        })
        .then(function(stream) {
          video.src = window.URL.createObjectURL(stream);
          video.play()
        });
    }

    // Elements for taking and displaying the snapshot
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    var video = document.getElementById('videos');

    // Trigger take photo
    document.getElementById("snap").addEventListener("click", function() {
      context.drawImage(video, 0, 0, 400, 300)
    });


    // Send base64 encoded img to backend
    function sendImage64(img_64) {
      img_64 = {
        info: img_64
      }
      $.ajax({
        type: "POST",
        url: "/s3",
        data: img_64,
        success: function(res) {
          console.log(res)
          playAudio()
        },
        dataType: "json"
      });
    }

    // Play speech.mp3 file
    function playAudio() {
      var url = "/audio/speech.mp3?d=" + new Date().getTime()
      var audio = new Audio(url)
      audio.load()
      audio.play()
    }

    $('#send').click(function() {

      img_64 = document.getElementById('canvas').toDataURL("image/jpeg")
      sendImage64(img_64)

    });

    // Send upload file to backend
    $('#uploadfile').click(function() {
      img = document.getElementById('file').files[0]
      reader = new FileReader()
      reader.readAsDataURL(img)
      reader.onload = function() {
        sendImage64(reader.result)
      }
    })

    // Send conversation responses to backend
    $('#conversation').click(function() {
      res = {
        res: $('#response').val()
      }
      $.ajax({
        type: "POST",
        url: "/conversation",
        data: res,
        success: function(res) {
          console.log(res)
          playAudio()
        },
        dataType: "json"
      });
    })
  </script>
</body>
</html
