<!DOCTYPE html>
<html>

<head>
  <title> CALVIN </title>
  <link rel="stylesheet" href="bootstrap.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="script.js"></script>
</head>

<body style="background-color: lightgray">
  <div class="container">
    <!-- Begin Calvin Header -->
    <div class="row">
      <div class="col-lg-3">
        <img id="image" alt="calvin" src='calvinLogo.jpg'>
      </div>
      <div class="col-lg-4">
      </div>
      <div class="col-lg-5">
        <img id="bull" alt="bulldog" src="bulldog.jpg">
      </div>
    </div>
    <!-- End Calvin Header -->

    <div class="row force-height">

      <!-- Begin Video Elements -->
      <div class="col-lg-3">
        <div class="row" id="fill">
          <div class="photo">
            <video id="videos" autoplay></video>
          </div>
          <div class="photo">
            <canvas id="canvas" width=277 height=204></canvas>
            <img id="bulldog" src="venteraLogo.jpg"></img>
          </div>
        </div>
      </div>
      <!-- End Video Elements -->
      <div class="col-lg-9">
        <!-- Respond to Prompts Form -->
        <div id="response-box">
          <div id="scrollList" style="width:100%;height:390px;overflow-y: auto; flex-grow: 1">
            <li id="thingToAppend" style="list-style: none;"></li>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div id="buttons">
          <button id="snap" class="btn btn-primary">Snap Photo</button>
          <button id="send" class="btn btn-success">Send Photo</button>
        </div>
      </div>
      <div class="col-lg-7">
        <input id="response" autocomplete="off" name="text" type="text" class="form-control" placeholder="Talk to Calvin">
      </div>
      <div class="col-lg-2">
        <button id="conversation" type="submit" class="btn btn-success">Submit</button>
      </div>
    </div>
  </div>
  </div>
  </div>
  <button style="display: none" id="makeTextBox"></button>
  <audio id="audio"> </audio>
</body>

</html>
