#image {
  height: 100px;
  float: center;
  margin: auto;
  margin-top: -10px;
}

#videos {
  width: auto;
  height: 100%;
  border-radius: 15px;
  margin-left: -13%;
}

#canvas {
  height: 100%;
  border-radius: 15px;
  margin-left: -13%;
}

#photo {
  height: 225px;
  width: 85%;
  margin-bottom: 10px;
}

#response-box {
  width: 120.5%;
  border-radius: 15px;
  padding: 15px;
  background-color: rgba(80, 139, 215, 0.2);
  /*background-color: rgba(255, 0, 110, 0.1);*/
  margin-left: -15.5%;
  height: 460px;
}

#heading {
  color: #6b6a6a;
}

#conversation {
  background-color: rgba(0, 0, 102, 0.65);
  border: none;
  margin: auto;
  vertical-align: bottom;
}

#response {
  margin-bottom: 0px;
  vertical-align: bottom;
}

#snap,
#send {
  background-color: rgba(0, 0, 102, 0.65);
  border: none;
}

#snap {
  width: 147px;
  margin-right: 2px;
  margin-left: -11%;
}

#send {
  width: 147px;
}

#bulldog {
  display: none;
}

.containerChat {
  border: 2px solid #EEEEEE;
  background-color: #EEEEEE;
  border-radius: 5px;
  padding: 8px;
  margin: 10px 10px;
  word-wrap: break-word;
}

.darkerChat {
  border-color: #508bd7;
  background-color: #508bd7;
}

.textRight {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.textLeft {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.containerChat::after {
  content: '';
  clear: both;
  display: table;
}

.containerChat img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.containerChat img.rightChat {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}
